---
import Banner from "./components/banner";
import WhoWeAre from "./components/who-we-are";
import SolutionsSection from "./components/solutions_section";
import OurMethodology from "./components/our-methodology";
import Layout from "../Layout.astro";
import ContactSection from "./components/contact-section";
---

<Layout>
  <div>
    <Banner />
    <SolutionsSection />
  </div>
  <WhoWeAre />
  <OurMethodology />
  <ContactSection />
</Layout>
