---
import { ContactForm } from "./components/contact-form";
import Layout from "../Layout.astro";
---

<Layout>
  <div class="flex flex-col md:justify-around md:my-8 w-full items-center">
    <div class="flex flex-col items-center w-fit">
      <h1 class="scroll-m-20 text-5xl font-bold tracking-tight text-start">
        Contact Us
      </h1>
      <p class="leading-7 [&:not(:first-child)]:mt-6">
        Feel free to reach out to us!
      </p>
    </div>
    <div class="mt-8 w-fit">
      <ContactForm />
    </div>
  </div>
</Layout>
