---
import "../styles/global.css";
import "@fontsource-variable/plus-jakarta-sans";
import Navbar from "@/components/navbar";
import Footer from "@/components/footer";
---

<html lang="en" class=`antialiased`>
  <head>
    <title>Percy Pocket Solutions</title>
    <link
      rel="icon"
      href="/favicon-192x192.png"
      type="image/png"
      sizes="192x192"
    />
    <link
      rel="icon"
      href="/favicon-512x512.png"
      type="image/png"
      sizes="512x512"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Percy Pocket Solutions' website" />
  </head>
  <body
    class="relative flex size-full min-h-screen flex-col group/design-root overflow-x-hidden"
  >
    <Navbar />
    <main
      class="layout-container h-full w-full grow lg:px-48 justify-center flex flex-col flex-1 py-8 space-y-16"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
